@import "base/base";
@import "base/mixins";
@import "base/variables";
@import "base/fonts";

.main-block {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 743px;
  height: 1054px;
  margin: 0 auto;
  &__left {
    display: flex;
    flex-flow: column;
    width: 35%;
    height: 100%;
    background-color: $gray;
    &__represent {
      display: flex;
      flex-flow: column;
      justify-content: start;
      border-radius: 2px;
      align-items: center;
      width: 100%;
      height: 40%;
      background-color: $blue;
      position: relative;
      top: 2%;
      left: 9%;
      padding-top: 7%;
      &__avatar {
        display: block;
        width: 70%;
        height: 45%;
        border-radius: 50%;
        border: 3px solid $lightGray2;
        background-image: url(images/Serhii_Chorpita.jpg);
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: 125%;
        transition: box-shadow 0.5s;
        &:hover {
          box-shadow: 0 0 7px 2px white;
        }
      }
      &__name,
      &__proffesion,
      &__address {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $lightGray1;
        width: 100%;
        height: 10%;
        text-align: center;
        font-family: BreeSerif;
        cursor: default;
      }
      &__name {
        height: 20%;
        font-size: 30px;
      }
      &__proffesion {
        font-size: 20px;
        font-family: FiraSansRegular;
      }
      &__address {
        display: flex;
        flex-flow: column;
        font-size: 16px;
        font-family: FiraSansLight;
      }
      &__cut {
        display: block;
        width: 100%;
        height: 3%;
        border-top: 49px solid transparent;
        border-left: 259px solid rgb(73, 71, 73);
        position: relative;
        top: 12px;
        right: 24px;
      }
    }
    &__contact,
    &__skills-block,
    &__langueges {
      display: flex;
      flex-flow: column;
      justify-content: start;
      align-items: flex-start;
      position: relative;
      top: 2%;
      left: 0;
      display: flex;
      width: 100%;
      height: 16%;
      padding-left: 9%;
      background-color: $gray;
      margin-top: 20px;
      &__header {
        display: flex;
        flex-flow: row;
        width: 100%;
        max-height: 50px;
        .line {
          width: 5%;
          height: 100%;
          background-color: $lightGray2;
        }
        .header-name {
          width: 95%;
          height: 100%;
          display: flex;
          align-items: center;
        }
      }
    }
    .contacts-section-link,
    .skills-name {
      color: $lightGray2;
      font-family: FiraSansLight;
      font-size: 16px;
    }
    &__skills-block {
      height: 25%;
    }
    &__langueges {
      height: 11%;
    }
    .skills-img1,
    .skills-img2,
    .skills-img3,
    .skills-img4,
    .skills-img5,
    .skills-img6,
    .skills-img7,
    .skills-img8,
    .skills-img9,
    .skills-img10,
    .skills-img11 {
      display: block;
      width: 15px;
      height: 15px;
      border-radius: 5px;
      background-image: url(images/icons/Skills-Icons.webp);
      background-repeat: no-repeat;
      background-size: 1500%;
      margin-right: 3px;
    }
    .skills-img1 {
      background-position: 14% 8%;
    }
    .skills-img2 {
      background-position: 13% 57%;
    }
    .skills-img3 {
      background-position: 66.7% 25%;
    }
    .skills-img4 {
      background-image: url(images/icons/bootstrap.png);
      background-size: 126%;
      background-position: 45% 0%;
    }
    .skills-img5 {
      background-position: 40% 42%;
    }
    .skills-img6 {
      background-position: 23% 42%;
    }
    .skills-img7 {
      background-position: 28% 91%;
    }
    .skills-img8 {
      background-image: url(images/icons/sass.png);
      background-size: 120%;
      background-position: 47% 40%;
    }
    .skills-img9 {
      background-position: 87% 8%;
    }
    .skills-img10 {
      background-position: 94% 25%;
    }
    .skills-img11 {
      background-position: 96% 41%;
    }
    .skills-name {
      color: $lightGray2;
    }
  }

  &__right {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    width: 65%;
    height: 100%;
    background-color: $lightGray1;
    padding-top: 4%;
    &__box1,
    &__box2,
    &__box3 {
      display: flex;
      flex-flow: column;
      align-items: center;
      width: 90%;
      height: max-content;
      &__header {
        display: flex;
        justify-content: start;
        align-items: center;
        width: 95%;
        height: 35px;
        border-bottom: 1px solid $lightGray2;
      }
    }
    &__box2,
    &__box3 {
      height: max-content;
      &__body {
        display: flex;
        flex-flow: row nowrap;
        width: 95%;
        height: 100%;
        &__text-area {
          padding: 7px 0 7px 0;
          display: block;
          width: 90%;
          height: max-content;
          text-align: justify;
          font-family: FiraSansRegular;
          font-size: 18px;
          color: $gray;
        }
      }
    }
    &__box3 {
      &__body {
        &__text-area {
          padding: 0;
        }
      }
    }
    &__text-area-about {
      padding: 7px 0 7px 18px;
      display: block;
      width: 90%;
      height: max-content;
      text-align: justify;
      font-family: FiraSansRegular;
      font-size: 18px;
      color: $gray;
    }
  }
}
.img-roud1,
.img-roud2,
.img-roud3 {
  display: block;
  width: 25px;
  height: 25px;
  background-color: $blue;
  background-image: url(images/icons/edit.svg);
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: center;
  border-radius: 50%;
  margin-right: 3px;
}
.img-roud2 {
  background-image: url(images/icons/suitcase.svg);
}
.img-roud3 {
  background-image: url(images/icons/graduation-cap.svg);
}

.line {
  display: block;
  width: 1px;
  height: 25px;
  background-color: $blue;
  margin-right: 3px;
}
.header-name {
  display: block;
  font-family: BreeSerif;
  color: $blue;
  font-size: 20px;
}
.pl3 {
  padding-left: 3px;
}
.pl13 {
  padding-left: 13px;
}
.pt3 {
  padding-top: 3px;
}
.pb3 {
  padding-bottom: 3px;
}
.mt25 {
  margin-top: 20px;
}
.mb25 {
  margin-bottom: 20px;
}
.mt10 {
  margin-top: 10px;
}
.mt10 {
  margin-top: 10px;
}
a {
  color: $blue;
  text-decoration: none;
  border-radius: 5px;
  padding: 0 3px;
  transition: all 0.3s;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 0px 9px 2px white;
    color: orange;
    background-color: $lightGray1;
  }
}
.flex-r {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
}
.img1,
.img2,
.img3,
.img4,
.img5 {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-image: url(images/contact/telegram-alt.svg);
}
.img2 {
  background-image: url(images/contact/mobile-android.svg);
}
.img3 {
  background-image: url(images/contact/envelope-alt.svg);
}
.img4 {
  background-image: url(images/contact/github.svg);
}
.img5 {
  background-image: url(images/contact/linkedin.svg);
}
.conduct-line {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 9%;
  height: 100%;

  &__line {
    display: block;
    width: 50%;
    height: 100%;
    border-right: 2px solid $lightGray2;
  }
  &__circle {
    display: block;
    width: 7px;
    height: 7px;
    background-color: $lightGray2;
    border-radius: 50%;
    position: relative;
    top: 0;
    right: 4.3px;
  }
}
.tech {
  font-family: FiraSansRegular;
  font-size: 18px;
}
.desc {
  font-family: FiraSansLight;
  font-size: 15.5px;
}
.my-education {
  &__academy {
    font-family: BreeSerif;
  }
  &__profession {
    font-family: FiraSansRegular;
  }
  &__date {
    font-family: FiraSansLight;
  }
}
