@font-face {
    font-family: BreeSerif;
    src: url(../fonts/BreeSerif-Regular.ttf);
}
@font-face {
    font-family: FiraSansRegular;
    src: url(../fonts/FiraSans-Regular.ttf);
}
@font-face {
    font-family: FiraSansLight;
    src: url(../fonts/FiraSans-Light.ttf);
}